<% action_url = sub.persisted? ? sub_url(sub) : subs_url %>

<form action="<%= action_url %>" method="post">
  <%= auth_token %>

  <% if sub.persisted? %>
    <input type="hidden" name="_method" value="patch">
  <% end %>

  <label for="title">title</label>
  <input id="title"
         type="text"
         name="sub[title]"
         value="<%= sub.title %>">

  <label for="description">Description</label>
  <input id="description"
         type="text"
         name="sub[description]"
         value="<%= sub.description %>">

  <input type="submit" value="Submit">
</form>
